#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

body {
  background-color: dimgray;
}

ul {
  border: 2px;
  border-style: solid;
  border-color: black;
}

p:hover {
  color: aquamarine;
}
